{#
SPDX-FileCopyrightText: 2020 Carl Schwan <carl@carlschwan.eu>

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% extends "base.html.twig" %}

{% block title %}{% trans %}KDE's Applications{% endtrans %}{% endblock %}
{% block description %}{% trans %}KDE is a community of friendly people who create over 200 apps which run on any Linux desktop, and often other platforms too. Here is the complete list.{% endtrans %}{% endblock %}
{% block image %}https://kde.org/products/apps.png{% endblock %}
{% block canonical %}https://apps.kde.org{{ path('app_main_index', {'_locale': locale}) }}{% endblock %}
{% block imageSize %}summary{% endblock %}

{% block body %}
  <main class="container">
    <h1>{{ block('title') }}</h1>

    <p>{{ block('description') }}</p>

    <div class="form-group">
      <label for="search" class="sr-only">{% trans %}Search applications{% endtrans %}</label>
      <input role="search" type="email" class="form-control" id="search" placeholder="{% trans %}Search...{% endtrans %}">
    </div>

    {% for category in categories %}
      {% include 'category.html.twig' with {'lazy': (not loop.first)} %}
    {% endfor %}
  </main>
{% endblock %}
